.App {
  /* min-height: 100vh; */
  text-align: center;
  background-color: #252d29;
  color: white;
/* padding: 20px; */


}


/* Footer style */
.footer{
  padding-top: 155px;
}

/* NavBar Style */

nav {
  background-color: #0b4029;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-evenly;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size:large ;
}

nav ul li a.active {
  font-weight: bold;
}
nav ul li a:hover {
  color: #000000;
}

#nav a{
text-decoration: none;
color: #fff;
}
#nav a:hover{
  color: #00ced1;
}